# Environment Variables
.env
.apps-json/

# mounted volume
sites

development/*
!development/README.md
!development/installer.py
!development/restore-backup.sh
!development/vscode-example/

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/docker-compose.yml
!.devcontainer/start-development.sh
*.code-workspace

# Python
*.pyc
__pycache__
.pytest_cache/
venv

# NodeJS
node_modules

# Backup
/backup
.tokensave

# VitePress
**/.vitepress/dist
**/.vitepress/cache
